/* ===== RESET ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: "Inter", sans-serif;
  overflow: hidden;
}

/* ===== SCROLL ===== */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: #bbbbbb;
  border-radius: 8px;
}

/* ===== LAYOUT ===== */
body {
  display: flex;
}

/* ===== SIDEBAR ===== */
.sidebar {
  width: 300px;
  background: #FF6B6B;
  padding: 24px 18px;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  height: 100vh;
  overflow-y: auto;
}

.sidebar-box {
  background: white;
  padding: 14px;
  border-radius: 14px;
}

/* HEADINGS */
.sidebar-box h2 {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 8px;
}

/* ===== ASPECT LIST ===== */
.aspect-list {
  display: flex;
  gap: 12px;
  overflow-x: auto;
  padding-bottom: 10px;
}

.aspect-item {
  flex-shrink: 0;
  width: 88px;
  padding: 8px;
  border: 1px solid #d4d4d4;
  border-radius: 12px;
  text-align: center;
  cursor: pointer;
  transition: .15s;
  background: white;
}

.aspect-item:hover {
  border-color: black;
}

.aspect-item.active {
  border-color: black;
  box-shadow: 0 0 4px rgba(0, 0, 0, .25);
}

.aspect-item p {
  font-size: 10px;
  margin-top: 4px;
}

.mini-rect {
  background: #e0e0e0;
  margin: 0 auto 6px auto;
  border-radius: 3px;
}

/* ===== PREVIEW ===== */
.preview-zone {
  flex: 1;
  background: url("/coral-grid.svg");
  background-size: 22px 22px;
  display: flex;
  height: 100vh;
}

.preview-inner {
  background: rgba(255, 255, 255, 0.95);
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ===== TOPBAR ===== */
.topbar {
  position: fixed;
  left: 300px;
  right: 0;
  top: 0;
  height: 60px;
  background: white;
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 25px;
}

.zoom-controls {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 8px;
}

.btn-zoom {
  padding: 4px 10px;
  border: 1px solid #aaa;
  background: white;
  border-radius: 6px;
  cursor: pointer;
}

.btn-import,
.btn-export {
  padding: 7px 16px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}

.btn-import {
  background: white;
  border: 1px solid #bbb;
  margin-right: 10px;
}

.btn-export {
  background: #FF6D6D;
  color: white;
  border: none;
}



